* {
  box-sizing: border-box;
}

body {
  background: url("../images/caveofwonders.jpg");
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 15px;
}

h1 {
  background: red;
  font-size: 40px;
  border: solid 3px orange;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

#finalTotal {
  font-size: 30px;
}

img {
  width: 80px;
  height: 80px;
  border: solid 1px yellow;
  padding: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.images {
margin-left: 20px;
align-content: center;
}


.directions {
  background: #2F4F4F;
  border: solid 2px #708090;
  width: 30%;
  margin-top: 20px;
  padding: 20px;
  margin-left: 20px;

}

.randomnumber {
  background: #4169E1;
  border: solid 2px #708090;
  width: 25%;
  margin-top: 10px;
  padding: 20px;
  margin-left: 20px;
  font-size: 30px;

}


.totalScore {
  background: #800080;
  border: solid 2px #708090;
  width: 30%;
  margin-top: 10px;
  padding: 20px;
  margin-left: 20px;
  font-size: 30px;

}

.winsandlosses {
  background: #20B2AA;
  border: solid 2px #708090;
  width: 250px;
  margin-top: 100px;
  padding: 20px;
  margin-right: 50px;
  float: right;
  font-size: 30px;

}
